<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nearbylocation</key>
	<array>
		<dict>
			<key>name</key>
			<string>Spice Bazzar</string>
			<key>lat</key>
			<string>43.091143</string>
			<key>long</key>
			<string>-77.645499
-77.645499
</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Walmart</string>
			<key>lat</key>
			<string>43.085000</string>
			<key>long</key>
			<string>-77.624900</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pricerite</string>
			<key>lat</key>
			<string>43.088398</string>
			<key>long</key>
			<string>-77.644468</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Namaste</string>
			<key>lat</key>
			<string>43.091203</string>
			<key>long</key>
			<string>-77.635595
-77.635595
</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Asia Market</string>
			<key>lat</key>
			<string>43.091336</string>
			<key>long</key>
			<string>-77.635928</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Wegmans</string>
			<key>lat</key>
			<string>43.083751</string>
			<key>long</key>
			<string>-77.627591</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BJ&apos;s</string>
			<key>lat</key>
			<string>43.089158</string>
			<key>long</key>
			<string>-77.629737</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hikari Foods and Grocery</string>
			<key>lat</key>
			<string>43.117844</string>
			<key>long</key>
			<string>-77.621175</string>
		</dict>
	</array>
</dict>
</plist>
